<div class="cxtexto">
    <span>
        <div class="cxfoto left marginright"><img alt="Título sobre a imagem" height="143" src="/content/imgsite/x.jpg"
                                                  width="276"></div>
        <p>
            Sed sed libero ut tellus congue ven enatis. Suspendisse commodo nisi non nisi. gestas.
            Proin sit amet ligula a magna lobortis auctor a sed neque la ut justo commodo.
        </p>
        <p>
            Sed sed libero ut tellus congue ven enatis. Suspendisse commodo nisi non nisi. gestas.
            Proin sit amet ligula a magna lobortis auctor a sed neque la ut justo commodo.
        </p>
    </span>
</div>