<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActionMailer" version="0.7.4" targetFramework="net40" />
  <package id="BrProjetosComum" version="1.0.2" targetFramework="net40" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net40" />
  <package id="elmah" version="1.2.2" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="elmah.xml" version="1.2" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net40" />
  <package id="MediaTypeMap" version="2.1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MySql.Data.Entity" version="6.10.9" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="OpenScraping" version="0.0.5" targetFramework="net40" />
  <package id="Quartz" version="2.6.0" targetFramework="net40" />
  <package id="RazorEngine" version="3.9.3" targetFramework="net40" />
  <package id="RollbarSharp" version="0.3.3.0" targetFramework="net40" />
  <package id="Strathweb.CacheOutput" version="0.5" targetFramework="net40" />
  <package id="Strathweb.CacheOutput.WebApi2" version="0.9.0" targetFramework="net40" requireReinstallation="True" />
</packages>